@use 'reset' as *;
@use 'media' as *;

.access {
    background: #FFFFFF;
    padding: 100px 0;
   
    @include mq(sp) {
     padding-top: 50px;
     padding-bottom: 60px;
    }
  
  }
  
  .access__inner {
    width: 800px;
    max-width: 100%;
  
    @include mq(tab) {
        width: 640px;
    }
  
    @include mq(sp) {
        width: 375px;
    }
  
  }
  
  .access__head {
  
  }
  
  .access__items {
    margin: 80px auto 0 0;
  }
  
  .access__item {
    a {
      font-family: $font-jp;
    }

    &:last-child {
      display: flex;
      justify-content: center;
    }
  }
  
  .access__map {
    position: relative;
    width: 100%;
    padding-top: 400 / 800 * 100%; /* = height ÷ width × 100 */
  }
  
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
  }
  
  .access__address,
  .access__time {
    font-family: $font-jp;
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
  
    span {
      font-weight: normal;
    }
  
  }
  
  .access__address {
    span {
      margin-left: 70px;
    }
  }
  
  .access__time {
    span {
      margin-left: 40px;
    }
  }
  
  
  .access__btn {
      display: inline-block;
      position: relative;
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      padding: 1em 1em;
      color: #fff;
      background: $color-main;
      text-decoration: none;
      min-width: 300px;
      border-radius: 8px;
      text-align: center;
      margin-top: 30px;
      box-shadow: 0 3px 6px rgba(#000, 0.16);
  
      &::after {
          font-family: "Font Awesome 6 Free";
          content: "\f054";/*アイコンのユニコード*/
          position: absolute;/*絶対位置*/
          font-size: 1em;/*サイズ*/
          right: 1em;/*アイコンの位置*/
          top: 50%;/*アイコンの位置*/
          transform: translateY(-50%);
          color: #FFFFFF; /*アイコン色*/
      }
   }
  