@use 'reset' as *;
@use 'media' as *;

//footer
footer {
    background: repeating-linear-gradient(#666666, #333333); //背景のグラデーション
    color: #fff;
    padding: 60px 0 24px 0; //footer全体の余白
  
    @include mq(sp) {
      padding: 30px 14px 0;
    }
  }
  
  .footer__inner {
  
  }
  
  .footer__contents {
    display: flex; //footer__right,center,leftを横並びにする
  
    @include mq(tab) {
      flex-wrap: wrap;
    }
  
    @include mq(sp) {
      display: block; //スマートフォンサイズでは縦並びにする
    }
  }
  
  //企業ロゴと連絡先
  .footer__left {
    width: 36%; //横並び時の割合
    margin: 0;
  
    @include mq(tab) {
      display: flex;
      width: 100%;
    }
  
    @include mq(sp) {
      width: 100%;
    }
  }
  
  .footer__logo {
    width: 205px;
    height: 40px;
  }
  
  .footer__address{
    margin-top: 32px;
    font-family: $font-jp;
    font-size: 14px;
  
    @include mq(tab) {
      margin-left: 20px;
      margin-top: 12px;
    }
  
    @include mq(sp) {
      margin-top: 13px;
    }
  }
  
  .footer__tel {
    margin-top: 14px;
    font-family: $font-jp;
    font-size: 14px;
  
    @include mq(tab) {
      margin-left: 20px;
      margin-top: 12px;
    }
  
    @include mq(sp) {
      margin-top: 6px;
    }
  }
  
  //メニューナビ
  .footer__center {
    width: 48%; //横並び時の割合
  
    @include mq(tab) {
      width: 100%;
    }
  
    @include mq(sp) {
      width: 100%;
    }
  }
  
  .footer__nav {
    display: flex; //メニューの項目を横並びに
  
    @include mq(tab) {
      margin-top: 24px;
    }
  
    @include mq('sp') {
      margin-top: 24px;
    }
  
      li {
        &:not(:first-child) {
          margin-left: 40px;
  
          @include mq(sp) {
            margin-left: 20px;
          }
        }
  
        a{
          font-family: $font-en;
          text-decoration: none;
        }
      }
  }
  
  //SNS部分
  .footer__right {
    width: 16%; //横並び時の割合
  
    @include mq(tab) {
      width: 100%;
      margin-top: 24px;
    }
  
    @include mq(sp) {
      width: 100%;
      margin-top: 24px;
    }
  }
  
  //共通のアイコンエフェクト
  .footer__sns {
    display: flex;
    justify-content: flex-end;
  
    @include mq(tab) {
      justify-content: center;
    }
  
    @include mq(sp) {
      justify-content: center;
    }
  
    li {
      a {
        text-decoration: none;
      }
    }
  }
  
  .footer__sns--link {
    margin: .3em;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #000000;
    font-size: 1.6rem;
    background: transparent;
    transition: transform ease-out 0.2s;
  }
  
  
  //インスタ用アイコン設定
  .icon-instagram {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: -1;
      transform: scale(0.9);
    }
  }
  
  .fab,
  .fa-instagram,
  .fa-facebook-f,
  .fa-twitter {
    display: inline-block;
    color: #fff;
  }
  
  .icon-instagram {
    &:hover {
      background: radial-gradient(
          circle farthest-corner at 32% 106%,
          rgb(255, 225, 125) 0%,
          rgb(255, 205, 105) 10%,
          rgb(250, 145, 55) 28%,
          rgb(235, 65, 65) 42%,
          transparent 82%
        ),
        linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
      transform: scale(0.9);
    }
  }
  
  //フェイスブック用アイコン設定
  .icon-facebook {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: -1;
      transform: scale(0.9);
    }
  }
  
  .icon-facebook {
    &:hover {
      background: #3b5998;
      transform: scale(0.9);
    }
  }
  
  //ツイッター用アイコン設定
  .icon-twitter {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: -1;
      transform: scale(0.9);
    }
  }
  
  .icon-twitter {
    &:hover {
      background: #00b0ed;
      transform: scale(0.9);
    }
  }
  
  //コピーライト
  .copyright {
    font-family: $font-en;
    text-align: center;
    margin-top: 45px;
  
    @include mq(sp) {
      margin-top: 22px;
      font-size: 14px;
    }
  }